.new-top-link{
    background: aquamarine;
    width: fit-content;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bolder;
}

.m-row{    
    margin-right: 20px;
    margin-left: 20px;
}
.nav-exc{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 3;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
.text-logo{
    font-family: "Philosopher", sans-serif;
}
.text-logoGreen{
    color: #71c55d;
}
.margin20-bottom{
    margin-bottom: 20px;
}

.margin20-bottomJasa{
    margin-bottom: 20px;
}
.card-padding{
    padding-bottom: 40px;
}
@media (max-width: 448px) {
    .card-padding{
        padding-bottom: 40px;
    }
}
.div-jasaContent{
    padding-bottom: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 100px;
}
.pic-jasa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 448px) {
    .div-jasaContent{
        padding-bottom: 60px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 100px;
    }
}
.img-bmManfaat{
    width: 100%;
}
.card-bmManfaat{
    border: 1px solid #9a9e9a;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 5px;
}
.img-Manfaat{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-Manfaat2{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div-ManfaatPijat{
    background-color: aqua;
    margin-bottom: 46px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
}
.div-ManfaatLink{
    padding-bottom: 60px;
}
@media (max-width: 842px) {
    .img-Manfaat{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-Manfaat2{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .div-ManfaatPijat{
        background-color: transparent;
        margin-bottom: 46px;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        display: inline-block;
    }
    .m-row{    
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (max-width: 767px) {
    
    .margin20-bottomJasa{
        margin-bottom: s0px;
    }
    .img-bmManfaat{
        width: 200px;
    } 
}
@media (max-width: 599px) {
    .div-ManfaatLink{
        padding-bottom: 30px;
    }
}
.pad-rightHome{
    padding-right: 0px;
}
@media (max-width: 448px) {
    .pad-rightHome{
        padding-right: 5px;
    }
}